[submodule "vendor/github.com/microsoft/vcpkg"]
	path = vendor/github.com/microsoft/vcpkg
	url = git@github.com:microsoft/vcpkg
[submodule "vendor/github.com/carbonengine/vcpkg-registry"]
	path = vendor/github.com/carbonengine/vcpkg-registry
	url = git@github.com:carbonengine/vcpkg-registry
